<div class="mail-template">
    <div class="row">
        <h1>Letter Of No Objection</h1>
        <div>
            <p class="text-right">0001</p>
            <p class="m-0">Letter of No Objection - Standard</p>
        </div>
    </div>
    <div class="line"></div>
    <div class="row">
        <div>
            <h2 class="mt-6">FROM:</h2>
            <p class="m-0">Letter of No Objection</p>
            <p class="m-0">email@wp.pl</p>
            <p class="m-0">+48 997 997 997</p>
        </div>
        <div>
            <h2 class="m-0 mt-4">DATE:</h2>
            <p class="m-0">October 4, 2021</p>
        </div>
    </div>
    <div class="row">
        <div>
            <h2 class="mt-6">Bill To:</h2>
            <p class="m-0">Client Name</p>
            <p class="m-0">sampleemail@wp.pl</p>
            <p class="m-0">+48 222 333 444</p>
        </div>
        <div>
            <div>
                <h2 class="m-0 mt-4">PAID ON:</h2>
                <p class="m-0">October 4, 2021</p>
            </div>
            <div>
                <h2 class="m-0 mt-4">AMOUNT:</h2>
                <p class="m-0">USD 59.99</p>
            </div>
        </div>
    </div>

    <table>
        <thead class="bg-gray-50">
            <tr>
                <th scope="col">Description</th>
                <th scope="col">Qty.</th>
                <th scope="col">Unit Price</th>
                <th scope="col">Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Letter Of No Objection - Standart</td>
                <td>1</td>
                <td>USD 49.00</td>
                <td>USD 49.00</td>
            </tr>
        </tbody>
    </table>

    <div class="summary-row">
        <h3 class="semibold">SUB-TOTAL</h3>
        <p>USD 49.00</p>
    </div>

    <div class="summary-row">
        <h3 class="semibold">TAX (20%)</h3>
        <p>USD 10.00</p>
    </div>

    <div class="summary-row">
        <h3 class="semibold">TOTAL</h3>
        <p>USD 59.00</p>
    </div>

    <div class="line"></div>

    <p>Thank you for your order</p>
</div>

<style>
    .mail-template {
        width: 100%;
        max-width: 767px;
        margin: 0 auto;
    }

    h1 {
        font-family: "Work Sans", sans-serif;
        font-size: 24px;
        font-weight: 600;
        margin: 16px 0px;
    }

    h2 {
        font-family: "Work Sans", sans-serif;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 0px;
        line-height: 1.75;
    }

    thead tr th {
        border-right: 1px solid rgb(75, 75, 75);
    }

    p,
    td {
        font-family: "Work Sans", sans-serif;
        font-weight: 400;
        font-size: 14px;
        font-weight: 400;
        margin: 16px 0px;
        color: rgb(29, 29, 29);
        line-height: 1;
        padding: 6px 0px;
    }

    table {
        min-width: 100%;
        border-collapse: separate;
        border-spacing: 0px;
        margin-top: 48px;
        border-bottom: 2px solid rgb(28, 28, 28);
    }

    tbody {
        border-spacing: 0px;
    }

    th,
    td {
        font-family: "Work Sans", sans-serif;
        padding: 12px 12px;
        text-align: left;
        font-size: 14px;
        text-align: center;
        text-transform: uppercase;
        background-color: black;
        color: white;
        font-weight: 600;
    }

    th:first-of-type,
    td:first-of-type {
        text-align: left;
    }

    th:last-of-type,
    td:last-of-type {
        text-align: right;
    }

    td {
        text-transform: capitalize;
        background-color: white;
        color: black;
        font-weight: 400;
    }

    .summary-row {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 0px 12px;
    }

    .summary-row p {
        margin: 10px 0px 0px 0px;
    }

    h3 {
        font-family: "Work Sans", sans-serif;
        font-size: 14px;
        margin: 10px 0px 0px 0px;
        width: 75%;
        line-height: 1.75;
        text-align: right;
        font-weight: 600;
    }

    .m-0 {
        margin: 0px;
    }

    .mt-4 {
        margin-top: 16px;
    }

    .mt-6 {
        margin-top: 24px;
    }

    .semibold {
        font-weight: 600;
    }

    .text-right {
        text-align: right;
        margin-bottom: 0px;
        font-size: 28px;
        font-weight: 600;
    }

    .row {
        display: flex;
        justify-content: space-between;
        gap: 4rem;
    }

    .line {
        width: 100%;
        height: 1px;
        background-color: rgb(228, 228, 228);
        margin-top: 24px;
        margin-bottom: 6px;
    }
</style>
